@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom responsive styles */
@media (max-width: 640px) {
  .snap-y {
    scroll-snap-type: y proximity;
  }
}

@media (min-width: 641px) {
  .snap-y {
    scroll-snap-type: y mandatory;
  }
}

/* Optimize for smaller screens */
@media (max-height: 700px) {
  h1 {
    margin-bottom: 0.5rem !important;
  }

  p.text-xl {
    margin-bottom: 1rem !important;
  }
}

@supports (-webkit-touch-callout: none) {
  html,
  body {
    -webkit-overflow-scrolling: touch !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }

  .min-h-screen {
    min-height: -webkit-fill-available;
  }

  .snap-start {
    scroll-snap-align: start;
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
